/*
fieldset{
    padding: 3px;
    border: 1px solid #ccc;
}

legend {
    width:auto; /* Or auto 
    padding:0 10px; /* To give a bit of padding on the left and right 
    border: 1px solid #ccc;
}

*/


td {
    border: 1px solid red;
}